{% extends "base.html" %}
{% block content %}
{% load static %}
<section class = "content">
    <section class = "post_form">
        <form action ='/' method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <hr>
          <div class="main-header">
            <img src="/static/img/twitter.png" class="logo">
            <h1>Home</h1>
         </div>
         <div class="line">
          <hr>
         </div>
         <div class="input">
          <input type="text" name = "name" placeholder="Name" required/>
         <textarea name="body" placeholder="Tell us anything" required></textarea>
         <input class="form-control form-control-sm" name="image" type="file">
         <input class="pos" type="submit" id="tweet" value="Tweet"  style="width:27%;"/>
         </div>
        </form>
    </section>
    <section class="posts">
       {% if tweet.count == 0 %}
       <p class="p-3">There is no tweeet now.</p>
       {% else %}
        <ul>
        {% for post in posts %}
        <li>
          <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
          <div class ="menu">
            <a href="edit/{{post.id}}/">Edit</a><br>
            <a href="/delete/{{post.id}}/">Delete</a>
          </div>
          <div class="logo">
             <img src ="{% static 'img/profile-user.png' %}" />
          </div>
          <div class="name_body">
            <div class="name">{{post.name}}</div>
            <div class="datetime">{{post.created_at}}</div>
            <p>{{post.body}}</p>
            {% if post.image %}
            <img class="body-image" src="{{post.image.url}}" alt="" style="width:85%; border-radius: 10%; border-radius:20px;"/>
            {% endif %}
            <div class="total-like">
              <div class="like">
                <a href="/like/{{post.id}}"> <img  id="like-img" src="{% static 'img/like.png' %}" />
                </a>
              </div>
              <div class="count">
                {{ post.likes }}
              </div>
            </div>
            
          
          </div>  
        </li> 
        {% endfor %}
        </ul>
        {% endif %}
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>
   
{% endblock %}
